body{
    font-size: 0.8em;
    letter-spacing: 0.1em;
    background: #e1e1e1;
}

.container{
    max-width: 500px;
    box-shadow: 0.5px 0.5px 02px 1px #888888;
    border-radius: 5px;
    padding-bottom:10px;
}

.container .icon1{
    width: 50px;
    position: relative;
    left: 45%;
    bottom: -20px;

}

.icon{
    position: relative;
    top: -40px;
    border-radius: 50%;
    margin-bottom: -30px;
    border: solid 3px rgb(131, 122, 81);
}